@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

$font-1: 'Roboto', sans-serif;
$font-2: 'Courier New', Courier, monospace;


$general-color: #0046a1;

